.feature-point {
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.feature-point__image {
	transition: all 0.5s;
	opacity: 0.8;
	overflow: visible !important;
}

.feature-point__image:hover {
    transform: rotate(-90deg);
    opacity: 1;
}
