::root {
    --lol: red;
    --color-primary: #3E3A3B;
    --color-success: #8CC176;
    --color-danger: #B82C0D;
    --color-white: #F3FAFC;
    --color-text-secondary: #5A5356;
    --background-color-base: red;
}

//[theme="dark"] {
//    --color-primary: red;
//    --background-color-base: green;
//}

//@import "element-ui/packages/theme-chalk/src/index";
