button {
  outline: 0;
}

button:focus {
  outline: 0;
  outline: 0;
}

.el-table__row {
  cursor: pointer;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1260px;
    }
}

@media (max-width: 1024px) {
    .container{
        max-width: 100%;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pools-bage sup {
  top: 10px !important;
  z-index: 99999;
}

.input-with-select .el-select .el-input {
  width: 300px;
}

.input-with-select .el-input-group__append {
  background-color: #fff;
}

.upperinput {
    text-transform: uppercase;
}
.upperinput:placeholder-shown {
    text-transform: none;
}
