// Import variables for light/dark theme
@import '~/assets/_variables.scss';
@import './base.scss';

// Add elements scss (themed by variables)
@import './element.scss';

@font-face {
  font-family: element-icons;
  src: url(fonts/element-icons.woff) format('woff'),
    url(fonts/element-icons.ttf) format('truetype');
}

html,
body {
  background-color: var(--background-color-base);
  color: var(--color-text-primary);

  transition: 0.3s;
}

*:focus {
  outline: none !important;
}

div::-webkit-scrollbar {
  width: 2px;
}
div::-webkit-scrollbar-track {
  background: var(--background-color-base);
}
div::-webkit-scrollbar-thumb {
  background-color: #c4cbd6;
  border-radius: 20px;
}

button,
button:focus {
  outline: 0;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  margin: 0px;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .el-dialog {
    width: 90% !important;
  }

  .el-menu-item {
    padding: 0 20px 0 8px;
  }
}

@media (max-width: 425px) {
  :root .el-button + .el-button {
    margin-left: 3px;
  }
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.upperinput {
  text-transform: uppercase;
}
.upperinput:placeholder-shown {
  text-transform: none;
}

.a-reset {
  color: inherit !important;
  text-decoration: none !important;
}

// Custom element-ui
.input-with-select .el-input-group__append {
  width: 30%;
  background-color: transparent;
}

.el-radio-full-width.el-radio-group {
  display: flex;

  label.el-radio-button {
    flex: 1;
  }

  .el-radio-button__inner {
    width: 100%;
  }
}

.overflowbox {
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.el-menu {
  background-color: transparent !important;
}

.el-menu-item {
  &:hover,
  &:focus {
    outline: none;
    background-color: red;
  }
}

.el-menu-item {
  background-color: var(--background-color-base) !important;

  &:hover {
    outline: none;

    border-bottom: 2px solid var(--color-primary) !important;
    color: var(--color-text-primary);
  }
}

.el-menu-item.is-active {
  outline: none;

  border-bottom: 2px solid var(--color-primary) !important;
  color: var(--color-text-primary);
}

//.el-input.is-disabled .el-input__inner {
//    background-color: #dde9ec;
//}

.el-loading-mask {
  background-color: var(--background-color-base) !important;
  opacity: 0.9;
}
.nuxt-progress {
  background-color: var(--color-primary) !important;
}
pre {
  color: var(--color-primary);
}

// TODO Обновить UI цсс элемента
//:root .el-radio-button:first-child .el-radio-button__inner {
//    border-radius: 10px 0 0 10px;
//}
//
//:root .el-radio-button:last-child .el-radio-button__inner {
//    border-radius: 0 10px 10px 0;
//}
//
//:root .el-button:not(.el-button--text) {
//    //background: linear-gradient(90deg, #627171 0%, rgba(74, 80, 83, 0.62) 100%);
//    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.06);
//    border-radius: 10px;
//
//    .el-button-group > .el-button:first-child {
//        border-top-right-radius: 0;
//        border-bottom-right-radius: 0;
//    }
//
//    .el-button-group > .el-button:last-child {
//        border-top-left-radius: 0;
//        border-bottom-left-radius: 0;
//    }
//}
//
.el-button:not(.el-button--text),
.el-radio-group {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05),
    inset 0 4px 4px rgba(0, 0, 0, 0.05);
}

// Light (default styles)
.text-danger {
  color: #b82d0d !important;
}
.text-success {
  color: #53a95b !important;
}
a {
  color: #80a1c5 !important;
}

// Dark
.theme-dark {
  .el-table::before {
    height: 0px;
  }

  .el-menu-item {
    &.is-active {
      color: var(--text-default);
    }

    color: var(--text-grey-thirdly);
  }

  .text-danger {
    color: #b56150 !important;
  }

  .trading-terminal {
    .el-input__inner {
      background-color: var(--background-color-secondary);
    }

    //.el-table th,
    //tr {
    //  background-color: var(--background-color-base);
    //}
  }

  .markets-bar {
    height: 500px;
  }
}

.alcor-card {
  border-radius: 12px;
  padding: 22px;
  background: var(--bg-big-card);
  box-shadow: var(--card-shadow);
}

.muted {
  opacity: 0.6;
}
.fwr {
  font-weight: 500;
}
.fontSmall {
  font-size: 0.72rem;
  line-height: 1rem;
}
.cancel {
  color: var(--cancel);
}
.green {
  color: var(--main-green);
}
.red {
  color: var(--main-red);
}

.alcor-inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}
.confirm-button button {
  background: rgba(46, 46, 49, 0.6);
  padding: 20px !important;
  border: none;
  border-radius: var(--radius-2) !important;
  &:hover {
    background: rgba(46, 46, 49, 0.6);
  }
}
.theme-dark .confirm-button button {
  background: #161617;
  &:hover {
    background: #161617;
  }
}
.select-label {
  small {
    padding: 7px 0;
  }
}

.el-dialog {
  background: var(--dialog-background) !important;
  border-radius: 16px !important;
}

.custom-radio {
  box-shadow: none !important;
  .el-radio-button {
    border-radius: var(--radius) !important;
    overflow: hidden;
  }
  .el-radio-button__inner {
    padding: 8px 8px !important;
    font-size: 1rem !important;
    font-weight: normal !important;
    background: transparent;
    border: 0 !important;
    &:hover {
      background: var(--hover);
    }
  }
}

.market-table {
  .el-table__row {
    cursor: pointer;
  }
  border-radius: 8px;
  overflow: hidden;
  th,
  td {
    border: 0;
  }
  th {
    padding: 8px 0 !important;
    padding-left: 4px !important;
    font-weight: normal !important;
    font-size: 1rem;
    color: var(--text-default);
  }
  th,
  tr {
    background: var(--table-background) !important;
  }

  td.el-table__expanded-cell {
    padding: 10px !important;
    background: var(--background-color-third) !important;
    th,
    tr {
      background: var(--background-color-third) !important;
    }
    &:hover {
      background: var(--background-color-third) !important;
    }
  }
}

.alcor-table {
  border-radius: 8px;
  overflow: hidden;
  th,
  td {
    border: 0;
  }
  th {
    padding: 8px 0 !important;
    padding-left: 4px !important;
    font-weight: normal !important;
    font-size: 1rem;
    color: var(--text-default);
  }
  // th,
  // tr {
  //   background: var(--table-background) !important;
  // }

  td.el-table__expanded-cell {
    padding: 10px !important;
    background: var(--hover) !important;

    th,
    tr {
      background: var(--hover) !important;
    }
    &:hover {
      background: var(--hover) !important;
    }
  }
}

.hover-opacity {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

// swap setting style
.section-content {
  .el-input-group__append {
    padding: 0;
  }
  .el-input__inner {
    border-radius: 20px !important;
  }
}

.resource-page-card {
  .header {
    padding: 10px 14px;
    border-bottom: 1px solid var(--background-color-base);
    i {
      margin-right: 4px;
    }
  }
  .main {
    padding: 10px 14px;
  }
}

@media only screen and (max-width: 1240px) {
  .alcor-inner {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 640px) {
  .market-table {
    .cell {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
    .th.cell {
      padding-left: 4px !important;
      padding-right: 4px !important;
    }
    .caret-wrapper {
      width: 14px !important;
    }
    .sort-caret {
      left: 2px !important;
    }
    th {
      font-size: 0.8rem;
    }
  }
}
