@import "~/assets/theme/_variables.scss";

html, body {
    background-color: var(--background-color-base);
}

button {
  outline: 0;
}

button:focus {
  outline: 0;
  outline: 0;
}

*::-webkit-scrollbar {
  width: 2px;
}
*::-webkit-scrollbar-track {
  background: var(--background-color-base);
}
*::-webkit-scrollbar-thumb {
  background-color: #c4cbd6;
  border-radius: 20px;
}

.el-table__row,
.pointer {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .el-dialog {
    width: 90% !important;
  }

  .el-menu-item {
    padding: 0 20px 0 8px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.pools-bage sup {
  top: 10px !important;
  z-index: 99999;
}

.input-with-select .el-select .el-input {
  /* width: 400px; */
}

.input-with-select .el-input-group__append {
  width: 30%;
  background-color: #fff;
}

.upperinput {
  text-transform: uppercase;
}
.upperinput:placeholder-shown {
  text-transform: none;
}

.a-reset {
  color: inherit !important;
  text-decoration: none !important;
}

.gh-button-container {
  color: #24292e;
}

.el-radio-full-width.el-radio-group {
  display: flex;

  label.el-radio-button {
      flex: 1;
  }

  .el-radio-button__inner {
    width: 100%;
  }
}


.overflowbox {
  border-radius: 5px;
  border: 1px solid #dadbdc;
}

.el-menu-item {
  &:hover,
  &:focus {
    outline: none;
    background-color: red;
  }
}

.el-menu-item {
    background-color: var(--background-color-base) !important;

    &:hover {
        outline: none;

        border-bottom: 2px solid var(--color-primary) !important;
        color: var(--color-text-primary);
    }

}

.el-input.is-disabled .el-input__inner {
    background-color: #dde9ec;
}
