// Import variables for light/dark theme
@import '~/assets/_variables.scss';
@import './base.scss';

// Add elements scss (themed by variables)
@import './element.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;350;400;500;700&display=swap');

@font-face {
  font-family: element-icons;
  src: url(fonts/element-icons.woff) format('woff'),
    url(fonts/element-icons.ttf) format('truetype');
}

html,
body {
  font-family: 'Roboto', sans-serif;

  background-color: var(--background-color-base);
  color: var(--color-text-primary);

  transition: 0.3s;

  overflow-x: clip;
}

.j-container {
  width: 100%;
  margin: auto;
  max-width: 970px;
}

p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.disable {
    color: var(--text-disable);
    font-size: 12px;
    line-height: 14px;
  }
}

*:focus {
  outline: none !important;
}

div::-webkit-scrollbar {
  width: 2px;
}

div::-webkit-scrollbar-track {
  background: var(--background-color-base);
}

div::-webkit-scrollbar-thumb {
  background-color: #c4cbd6;
  border-radius: 20px;
}

button,
button:focus {
  outline: 0;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  margin: 0px;
}

.empty-div {
  display: contents;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

@media (max-width: 1175px) {
  .container {
    max-width: 100%;
  }

  .el-menu-item {
    padding: 0 20px 0 8px;
  }
}

@media (max-width: 425px) {
  :root .el-button + .el-button {
    margin-left: 3px;
  }
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.upperinput {
  text-transform: uppercase;
}

.upperinput:placeholder-shown {
  text-transform: none;
}

.a-reset {
  color: inherit !important;
  text-decoration: none !important;
}

// Custom element-ui
.input-with-select .el-input-group__append {
  width: 30%;
  background-color: transparent;
}

.el-radio-full-width.el-radio-group {
  display: flex;

  label.el-radio-button {
    flex: 1;
  }

  .el-radio-button__inner {
    width: 100%;
  }
}

.el-menu {
  background-color: transparent !important;
}

.el-menu-item {
  &:hover,
  &:focus {
    outline: none;
    background-color: red;
  }
}

.el-menu-item {
  background-color: var(--background-color-base) !important;

  &:hover {
    outline: none;

    border-bottom: 2px solid var(--color-primary) !important;
    color: var(--color-text-primary);
  }
}

.el-menu-item.is-active {
  outline: none;

  border-bottom: 2px solid var(--color-primary) !important;
  color: var(--color-text-primary);
}

//.el-input.is-disabled .el-input__inner {
//    background-color: #dde9ec;
//}

.el-loading-mask {
  background-color: var(--background-color-base) !important;
  opacity: 0.9;
}

.nuxt-progress {
  background-color: var(--color-primary) !important;
}

pre {
  color: var(--color-primary);
}

// TODO Обновить UI цсс элемента
//:root .el-radio-button:first-child .el-radio-button__inner {
//    border-radius: 10px 0 0 10px;
//}
//
//:root .el-radio-button:last-child .el-radio-button__inner {
//    border-radius: 0 10px 10px 0;
//}
//
//:root .el-button:not(.el-button--text) {
//    //background: linear-gradient(90deg, #627171 0%, rgba(74, 80, 83, 0.62) 100%);
//    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.06);
//    border-radius: 10px;
//
//    .el-button-group > .el-button:first-child {
//        border-top-right-radius: 0;
//        border-bottom-right-radius: 0;
//    }
//
//    .el-button-group > .el-button:last-child {
//        border-top-left-radius: 0;
//        border-bottom-left-radius: 0;
//    }
//}
//

// Light (default styles)
.text-danger,
.max-sellmatch {
  color: #b82d0d !important;
}

.text-success,
.max-buymatch {
  color: #66c167 !important;
}

.text-danger-deal,
.text-success-deal,
.max-buymatch-deal span {
  color: #ffffff;
}

.text-success {
  color: #53a95b !important;
}

.max-buymatch-deal {
  background: linear-gradient(
    180deg,
    rgba(105, 255, 88, 0.1) 0%,
    rgba(4, 134, 33, 0.1) 100%
  );
}

.max-sellmatch-deal {
  background: linear-gradient(
      180deg,
      rgba(237, 66, 69, 0.1) 0%,
      rgba(255, 0, 4, 0.1) 100%
    ),
    #212121;

  span {
    color: #ffffff;
  }
}

a {
  color: #80a1c5;
}

// Dark
.theme-dark {
  .el-table::before {
    height: 0px;
  }

  .el-menu-item {
    &.is-active {
      color: var(--text-default);
    }

    color: var(--text-grey-thirdly);
  }

  .text-danger {
    color: var(--main-red) !important;
  }

  .trading-terminal {
    .el-input__inner {
      background-color: var(--background-color-secondary);
    }

    //.el-table th,
    //tr {
    //  background-color: var(--background-color-base);
    //}
  }

  .markets-bar {
    // height: 500px;
  }
}

.theme-contrast {
  .el-table::before {
    height: 0px;
  }

  .el-menu-item {
    &.is-active {
      color: var(--text-default);
    }

    color: var(--text-grey-thirdly);
  }

  .text-danger {
    color: var(--color-primary) !important;
  }

  .trading-terminal {
    .el-input__inner {
      background-color: var(--background-color-secondary);
    }

    //.el-table th,
    //tr {
    //  background-color: var(--background-color-base);
    //}
  }

  .markets-bar {
    // height: 500px;
  }
}

.theme-oranger {
  .el-table::before {
    height: 0px;
  }

  .el-menu-item {
    &.is-active {
      color: var(--text-default);
    }

    color: var(--text-grey-thirdly);
  }

  .text-danger {
    color: var(--color-primary) !important;
  }

  .trading-terminal {
    .el-input__inner {
      background-color: var(--background-color-secondary);
    }

    //.el-table th,
    //tr {
    //  background-color: var(--background-color-base);
    //}
  }

  .markets-bar {
    // height: 500px;
  }
}

.theme-oceano {
  .el-table::before {
    height: 0px;
  }

  .el-menu-item {
    &.is-active {
      color: var(--text-default);
    }

    color: var(--text-grey-thirdly);
  }

  .text-danger {
    color: var(--color-primary) !important;
  }

  .trading-terminal {
    .el-input__inner {
      background-color: var(--background-color-secondary);
    }

    //.el-table th,
    //tr {
    //  background-color: var(--background-color-base);
    //}
  }

  .markets-bar {
    // height: 500px;
  }
}

.theme-cyber {
  .el-table::before {
    height: 0px;
  }

  .el-menu-item {
    &.is-active {
      color: var(--text-default);
    }

    color: var(--text-grey-thirdly);
  }

  .text-danger {
    color: var(--color-primary) !important;
  }

  .trading-terminal {
    .el-input__inner {
      background-color: var(--background-color-secondary);
    }

    //.el-table th,
    //tr {
    //  background-color: var(--background-color-base);
    //}
  }

  .markets-bar {
    // height: 500px;
  }
}

.theme-bloom {
  .el-table::before {
    height: 0px;
  }

  .el-menu-item {
    &.is-active {
      color: var(--text-default);
    }

    color: var(--text-grey-thirdly);
  }

  .text-danger {
    color: var(--color-primary) !important;
  }

  .trading-terminal {
    .el-input__inner {
      background-color: var(--background-color-secondary);
    }

    //.el-table th,
    //tr {
    //  background-color: var(--background-color-base);
    //}
  }

  .markets-bar {
    // height: 500px;
  }
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

.alcor-card {
  border-radius: 12px;
  padding: 22px;
  background: var(--bg-big-card);
  box-shadow: var(--card-shadow);
}

.muted {
  opacity: 0.6;
}

.fwr {
  font-weight: 500;
}

.fontSmall {
  font-size: 0.72rem;
  line-height: 1rem;
}

.cancel {
  color: var(--cancel);
}

.red {
  color: var(--main-red);
}
.alcor-button.red .inner {
  color: var(--main-red);
}

.el-slider__runway {
  background-color: var(--color-secondary-op);
}

.el-slider__button {
  border: 2px solid var(--color-secondary);
  background-color: var(--background-color-base);
}

.el-slider__stop,
.el-slider__bar {
  background-color: var(--color-secondary);
}

.wax {
  color: var(--main-wax);
}

.alcor-inner {
  width: 100%;
  max-width: 1160px;
  padding: 0 20px;
  margin: auto;
}

.confirm-button button {
  background: rgba(46, 46, 49, 0.6);
  padding: 20px !important;
  border: none;
  border-radius: var(--radius-2) !important;

  &:hover {
    background: rgba(46, 46, 49, 0.6);
  }
}

.theme-dark .confirm-button button {
  background: var(--btn-default);

  &:hover {
    background: var(--btn-active);
  }
}

.select-label {
  small {
    padding: 7px 0;
  }
}

.el-dialog {
  background: var(--dialog-background) !important;
  border-radius: 8px !important;
}

.trading-page-dialog.el-dialog {
  background: var(--dialog-background) !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: var(--border-2);
  border-radius: 2px !important;

  .el-dialog__body {
    padding: 10px 20px 20px;
  }

  .el-dialog__header {
    padding: 18px 18px 0px;

    .el-dialog__headerbtn {
      width: 23px;
      height: 23px;
      right: 1px;
      top: 1px;

      background: var(--btn-default);
      border-radius: 0px 0px 0px 2px;

      &:hover {
        color: var(--text-default);

        i {
          color: var(--text-default);
        }
      }
    }
  }
}

.el-popup-parent--hidden {
  padding-right: 0 !important;
}

.el-slider__button-wrapper {
  z-index: 3 !important;
}

.custom-radio {
  box-shadow: none !important;

  .el-radio-button {
    border-radius: var(--radius) !important;
    overflow: hidden;
  }

  .el-radio-button__inner {
    padding: 8px 8px !important;
    font-size: 1rem !important;
    font-weight: normal !important;
    background: transparent;
    border: 0 !important;

    &:hover {
      background: var(--hover);
    }
  }
}

.market-table {
  .el-table__row {
    cursor: pointer;
  }

  border-radius: 8px;
  overflow: hidden;

  th,
  td {
    border: 0;
  }

  th {
    padding: 8px 0 !important;
    padding-left: 4px !important;
    font-weight: normal !important;
    font-size: 1rem;
    color: var(--text-default);
  }

  th,
  tr {
    background: var(--table-background) !important;
  }

  td.el-table__expanded-cell {
    padding: 10px !important;
    background: var(--background-color-third) !important;

    th,
    tr {
      background: var(--background-color-third) !important;
    }

    &:hover {
      background: var(--hover) !important;
    }
  }
}

.alcor-table {
  border-radius: 8px;
  overflow: hidden;

  th,
  td {
    border: 0;
  }

  th {
    padding: 8px 0 !important;
    padding-left: 4px !important;
    font-weight: bold !important;
    font-size: 1rem;
    color: var(--text-default);
  }

  // th,
  // tr {
  //   background: var(--table-background) !important;
  // }

  td.el-table__expanded-cell {
    padding: 10px !important;
    background: var(--background-color-third) !important;

    th,
    tr {
      background: var(--background-color-third) !important;
    }

    &:hover {
      background: var(--background-color-third) !important;
    }
  }
}

.hover-opacity {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.hover-bg-lighter {
  transition: background 0.3s;

  &:hover {
    background: var(--hover);
  }
}

// swap setting style
.section-content {
  .el-input-group__append {
    padding: 0;
  }

  .el-input__inner {
    border-radius: 20px !important;
  }
}

.resource-page-card {
  .header {
    padding: 10px 14px;
    border-bottom: 1px solid var(--background-color-base);

    i {
      margin-right: 4px;
    }
  }

  .main {
    padding: 10px 14px;
  }
}

@media only screen and (max-width: 1240px) {
  .alcor-inner {
    padding: 0 16px;
  }
}

@media only screen and (max-width: 640px) {
  .market-table {
    .cell {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }

    .th.cell {
      padding-left: 4px !important;
      padding-right: 4px !important;
    }

    .caret-wrapper {
      width: 14px !important;
    }

    .sort-caret {
      left: 2px !important;
    }

    th {
      font-size: 0.8rem;
    }
  }
}

//in fee rate component
.tabs-right .swap-button {
  border: 0px 0px 0px 2px !important;
}

.popup-dialog {
  background: #121212;
  border: 2px solid #282828;
}

.border-tabs {
  .el-tabs--border-card {
    background: transparent;
    border: none;
  }

  .el-tabs__item {
    height: 30px;
    line-height: 25px;
    padding: 0 10px;
  }

  .el-tabs__item:last-child {
    padding-right: 10px !important;
  }

  .el-tabs__content {
    padding: 0px !important;
  }

  .el-tabs__item.is-active {
    background-color: transparent !important;
    border-bottom: solid !important;
  }

  .el-tabs__header {
    background-color: var(--table-tabs-background) !important;
    margin: 0;
  }
}

.horisontal-scrollbox {
  overflow: auto;
  max-width: 400px;
  max-height: 200px;
  margin: 50px auto;

  background-image: 
	
    /* Shadows */ linear-gradient(
      to right,
      #212121,
      #212121
    ),
    linear-gradient(to right, #212121, #212121),
    /* Shadow covers */ linear-gradient(to right, black, #212124),
    linear-gradient(to left, black, #212124);

  //linear-gradient(to right, green, red),
  //linear-gradient(to left, green, red);

  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  //background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.text-grey {
  color: var(--text-grey-thirdly) !important;
}

.color-green {
  color: var(--main-green) !important;
}

.weight-700 {
  font-weight: 700;
}

.alcor-radio {
  background: var(--btn-active);
  border-radius: 3px;
  padding: 2px;

  .el-radio-button:first-child .el-radio-button__inner {
    border-radius: 2px 0 0 2px !important;
  }

  .el-radio-button:last-child .el-radio-button__inner {
    border-radius: 0 2px 2px 0;
  }

  .el-radio-button__inner {
    background: var(--btn-active);
    padding: 5px 15px !important;
  }

  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: var(--btn-default) !important;
  }
}

.underline {
  text-decoration: underline;
}
.popper__arrow {
  // display:none !important;
  background: transparent !important;
}

.w-100 {
  width: 100%;
}

.w-49 {
  width: 49%;
}

.w-33 {
  width: 33%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.fs-40 {
  font-size: 40px;
}

.fs-36 {
  font-size: 36px;
}

.fs-24 {
  font-size: 24px;
}

.fs-22 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}
.md-fs-14 {
  @media (min-width: 768px) {
    font-size: 14px !important;
  }
}
.md-fs-16 {
  @media (min-width: 768px) {
    font-size: 16px !important;
  }
}
.md-fs-20 {
  @media (min-width: 768px) {
    font-size: 20px !important;
  }
}

.md-fs-24 {
  @media (min-width: 768px) {
    font-size: 24px !important;
  }
}
.md-fs-48 {
  @media (min-width: 768px) {
    font-size: 48px !important;
  }
}

.lh-12 {
  line-height: 12px;
}
.fs-10 {
  font-size: 10px;
}

.fw-bold {
  font-weight: bold;
}

.gap-4 {
  gap: 4px;
}

.gap-6 {
  gap: 6px;
}
.fs-14 {
  font-size: 14px;
}
.fs-48 {
  font-size: 48px;
}
.fs-24 {
  font-size: 24px;
}

.br-4 {
  border-radius: 4px;
}
.br-8 {
  border-radius: 8px;
}
.el-input.br-20 {
  .el-input__inner {
    border-radius: 20px;
  }
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-18 {
  gap: 18px;
}

.gap-20 {
  gap: 20px;
}

.gap-22 {
  gap: 22px;
}

.gap-24 {
  gap: 24px;
}
.gap-25 {
  gap: 25px;
}

.gap-28 {
  gap: 28px;
}

.gap-29 {
  gap: 29px;
}

.gap-30 {
  gap: 30px;
}

.gap-32 {
  gap: 32px;
}

.gap-40 {
  gap: 40px;
}

.gap-64 {
  gap: 64px;
}

.normal-card-shadow {
  box-shadow: 0px 0px 20px 0px var(--normal-card-shadow);
}

.color-green {
  color: var(--main-green);
}
.color-action {
  color: var(--main-action-green);
}
.color-wax {
  color: var(--main-wax);
}
.color-default {
  color: var(--text-default);
}
.color-danger {
  color: var(--main-red);
}

.bg-green {
  background: var(--main-green);
}

.disable {
  color: var(--text-disable);
}
.contrast {
  color: var(--text-contrast) !important;
}

.grey-border {
  border: 1px solid var(--border-color);
}

.grey-border.border-hover:hover:not(.border-active) {
  border: 1px solid var(--border-hover-color);
}

.grey-border.border-active {
  border: 1px solid var(--border-active-color);
}

.active-border {
  border: 1px solid var(--main-green);
  height: fit-content;
  border-radius: 10px;
}

.card {
  border: 1px solid var(--background-color-third);
  &.active-border {
    border: 1px solid var(--main-green);
  }
}

.wallet-input-search {
  &.el-input--suffix,
  &.el-input--prefix {
    .el-input__inner {
      background-color: var(--btn-default);
      border: 1px solid var(--btn-default);
      width: 225px;

      &:hover,
      &:active,
      &:focus {
        border: 1px solid var(--btn-default);
      }
    }
  }
}

.el-dropdown-menu.dropdown {
  border: 1px solid var(--dropdown-border);
  border-radius: 16px;

  .dropdown__item {
    border-bottom: 1px solid var(--dropdown-border);
    padding: 0;
    &:hover {
      background: var(--dropdown-hover);
    }

    &:last-of-type {
      border: none;
    }

    .dropdown__inner {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      color: var(--text-default);
      gap: 10px;
    }
  }

  .dropdown__filters {
    padding: 16px;
    cursor: default;

    &:hover,
    &:focus,
    &:active {
      background: var(--background-color-secondary);
    }
  }
}

.rot-90 {
  transform: rotate(90deg) !important;
}

.text-decoration-underline {
  text-decoration: underline;
}
.gap-16 {
  gap: 16px;
}
.gap-21 {
  gap: 21px;
}
.gap-30 {
  gap: 30px;
}
.gap-32 {
  gap: 32px;
}

.h-fit {
  height: fit-content;
}

.mutted {
  cursor: not-allowed;
  filter: opacity(0.2);
  pointer-events: none;
}

.hover-hide:hover {
  display: none !important;
}
.hover-c-contrast:hover {
  color: var(--text-contrastt)
}

.slider-sell .el-slider__bar {
  background-color: var(--color-secondary);
}

.slider-buy .el-slider__bar {
  background-color: var(--color-primary);
}

.hr {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}

.el-collapse.default {
  .el-collapse-item__header {
    height: auto;
    line-height: unset;
  }
  .el-collapse-item__content {
    padding-bottom: 0px;
  }
  .el-collapse-item__header,
  .el-collapse-item__wrap {
    background: transparent;
  }
}
.h-fit {
  height: fit-content;
}
